* 
/* DEFINIR LOS PARAMETROS DEL TEXTO DEL CUERPO */
{
    padding: 0;
    margin: 0;
    font-family: century gothic;
    color: black;
    text-decoration: none;
    text-align: center;
}

.titulo {
    padding: 20px;
}




/* PARAMETROS DEL CUERPO*/
.contenido {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.contenido .articulo {
    width: 70%; /* DEFINIR LA ANCHURA DE LOS MEDICAMENTOS AQUI */
    margin-right: 20px;
}


.contenido .articulo div {
    width: 70%;
    padding: 15px;
    background-color: #90b5ca;
    border-radius: 15px;
    margin-bottom: 15px;
}


/* PARAMETROS DEL PIE DE PAGINA, COMO FORZAR QUE LA POSICION SIEMPRE SEA ABAJO DE LA PANTALLA */
.piedepagina {
    background-color: rgb(130, 224, 169);
    padding: 20px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
}

.piedepagina img {
    width: 30px;
    margin: 0 10px;
}

.contenido .articulo p.titulo-mas-vendidos {
    font-size: 30px;
}
